workflows/Taxfix_3_Publisher.json
{
    "name": "Taxfix_3_Publisher",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "publish-video",
                "options": {}
            },
            "name": "Webhook: Publish",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                100,
                300
            ],
            "id": "webhook-publish"
        },
        {
            "parameters": {
                "amount": 2,
                "unit": "seconds"
            },
            "name": "Wait: Uploading",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1,
            "position": [
                300,
                300
            ],
            "id": "wait-upload"
        },
        {
            "parameters": {
                "operation": "update",
                "tableId": "content_queue",
                "updateKey": "id",
                "columns": "status",
                "options": {}
            },
            "name": "DB: Published",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                500,
                300
            ],
            "id": "db-published",
            "credentials": {
                "supabaseApi": {
                    "id": "supabase_api_creds",
                    "name": "Supabase API"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "return {\n  id: $('Webhook: Publish').item.json.body.id,\n  status: 'PUBLISHED'\n};"
            },
            "name": "Format Publish",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                400,
                300
            ],
            "id": "format-publish"
        }
    ],
    "connections": {
        "Webhook: Publish": {
            "main": [
                [
                    {
                        "node": "Wait: Uploading",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait: Uploading": {
            "main": [
                [
                    {
                        "node": "Format Publish",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Publish": {
            "main": [
                [
                    {
                        "node": "DB: Published",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}