workflows/Taxfix_1_Ingestion_Monitor.json
{
    "name": "Taxfix_1_Ingestion_Monitor",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours"
                        }
                    ]
                }
            },
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "id": "schedule-trigger"
        },
        {
            "parameters": {
                "url": "https://www.tagesschau.de/wirtschaft/index~rss2.xml",
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "text"
                        }
                    }
                },
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "User-Agent",
                            "value": "Mozilla/5.0 (compatible; TaxfixBot/1.0;)"
                        }
                    ]
                }
            },
            "name": "Fetch Tagesschau",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                450,
                200
            ],
            "id": "fetch-tagesschau"
        },
        {
            "parameters": {
                "url": "https://www.presseportal.de/rss/finanzen.rss2",
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "text"
                        }
                    }
                }
            },
            "name": "Fetch Presseportal",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                450,
                400
            ],
            "id": "fetch-presseportal"
        },
        {
            "parameters": {
                "jsCode": "// Robust RSS Parser (Regex)\nconst xml = $json.data || '';\nconst items = [];\n// Extract items\nconst itemRegex = /<item>([\\s\\S]*?)<\\/item>/g;\nlet match;\nwhile ((match = itemRegex.exec(xml)) !== null) {\n  const content = match[1];\n  const title = (content.match(/<title>([\\s\\S]*?)<\\/title>/) || [])[1] || '';\n  const link = (content.match(/<link>([\\s\\S]*?)<\\/link>/) || [])[1] || '';\n  // Handle CDATA or plain text\n  const cleanTitle = title.replace('<![CDATA[', '').replace(']]>', '').trim();\n  const cleanLink = link.replace('<![CDATA[', '').replace(']]>', '').trim();\n  \n  if (cleanTitle && cleanLink) {\n    items.push({\n      json: {\n        title: cleanTitle,\n        link: cleanLink,\n        source: 'Tagesschau'\n      }\n    });\n  }\n}\nreturn items;"
            },
            "name": "Parse Tagesschau",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                600,
                200
            ],
            "id": "parse-tagesschau"
        },
        {
            "parameters": {
                "jsCode": "// Robust RSS Parser (Regex)\nconst xml = $json.data || '';\nconst items = [];\nconst itemRegex = /<item>([\\s\\S]*?)<\\/item>/g;\nlet match;\nwhile ((match = itemRegex.exec(xml)) !== null) {\n  const content = match[1];\n  const title = (content.match(/<title>([\\s\\S]*?)<\\/title>/) || [])[1] || '';\n  const link = (content.match(/<link>([\\s\\S]*?)<\\/link>/) || [])[1] || '';\n  \n  const cleanTitle = title.replace('<![CDATA[', '').replace(']]>', '').trim();\n  const cleanLink = link.replace('<![CDATA[', '').replace(']]>', '').trim();\n\n  if (cleanTitle && cleanLink) {\n    items.push({\n      json: {\n        title: cleanTitle,\n        link: cleanLink,\n        source: 'Presseportal'\n      }\n    });\n  }\n}\nreturn items;"
            },
            "name": "Parse Presseportal",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                600,
                400
            ],
            "id": "parse-presseportal"
        },
        {
            "parameters": {
                "mode": "append"
            },
            "name": "Merge Feeds",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 1,
            "position": [
                750,
                300
            ],
            "id": "merge-feeds"
        },
        {
            "parameters": {
                "jsCode": "// Limit to top 15 items to prevent Timeout\nreturn $input.all().slice(0, 15);"
            },
            "name": "Limit Batch Size",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                850,
                300
            ],
            "id": "limit-batch"
        },
        {
            "parameters": {
                "resource": "chat",
                "model": "gpt-4o-mini",
                "jsonOutput": true,
                "messages": {
                    "values": [
                        {
                            "role": "system",
                            "content": "You are a strict Taxfix Content Editor. Your job is to filter a general finance feed for TAX-SPECIFIC news for young people (25-35).\n\nSTRICTLY RELEVANT (Set relevant: true):\n- Tax Law Changes (EStG), Deadlines (Steuererklärungsfrist), Deductions (Werbungskosten).\n- Direct Government Benefits (Kindergeld, Energiepauschale, BaföG changes).\n- Social Security changes (Krankenkassenbeitrag, Rentenpunkte).\n\nSTRICTLY IRRELEVANT (Set relevant: false):\n- General Economy (Inflation rate, GDP, ECB interest rates).\n- Stock Market/Company News (DAX, Tesla stock, quarterly earnings).\n- International Politics/Trade (US Tariffs, EU summits).\n- Corporate/Business Tax (Gewerbesteuer, supply chains).\n\nIf in doubt, reject it.\n\nReturn JSON:\n{\n  \"relevant\": true/false,\n  \"topic\": \"Clickbaity German Title (e.g. 'Mehr Netto vom Brutto 2026?')\",\n  \"confidence\": 0.0-1.0,\n  \"platform\": \"TikTok\",\n  \"reasoning\": \"Why it fits Taxfix userbase\"\n}"
                        },
                        {
                            "role": "user",
                            "content": "News Item:\nTitle: {{ $json.title }}\nLink: {{ $json.link }}\nAnalyze:"
                        }
                    ]
                }
            },
            "name": "Analyze Relevance",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1,
            "position": [
                950,
                300
            ],
            "id": "analyze-relevance",
            "credentials": {
                "openAiApi": {
                    "id": "openai_account",
                    "name": "OpenAI account"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.relevant }}",
                            "value2": true
                        }
                    ],
                    "number": [
                        {
                            "value1": "={{ $json.confidence }}",
                            "operation": "larger",
                            "value2": 0.7
                        }
                    ]
                }
            },
            "name": "Filter High Quality",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1150,
                300
            ],
            "id": "filter-quality"
        },
        {
            "parameters": {
                "operation": "getAll",
                "tableId": "content_queue",
                "limit": 1,
                "filters": {
                    "conditions": [
                        {
                            "key": "topic",
                            "value": "={{ $json.topic }}",
                            "operator": "eq"
                        }
                    ]
                }
            },
            "name": "Check Duplicates",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1350,
                300
            ],
            "id": "check-dupes",
            "alwaysOutputData": true,
            "credentials": {
                "supabaseApi": {
                    "id": "supabase_api_creds",
                    "name": "Supabase API"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $items('Check Duplicates').length === 0 }}",
                            "value2": true
                        }
                    ]
                }
            },
            "name": "Is New?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1550,
                300
            ],
            "id": "is-new"
        },
        {
            "parameters": {
                "operation": "create",
                "tableId": "content_queue",
                "columnsUi": {
                    "columnValues": [
                        {
                            "fieldId": "topic",
                            "fieldValue": "={{ $json.topic }}"
                        },
                        {
                            "fieldId": "source_url",
                            "fieldValue": "={{ $('Analyze Relevance').item.json.link }}"
                        },
                        {
                            "fieldId": "status",
                            "fieldValue": "PENDING_GENERATION"
                        },
                        {
                            "fieldId": "platform",
                            "fieldValue": "={{ $json.platform }}"
                        },
                        {
                            "fieldId": "compliance_score",
                            "fieldValue": "={{ $json.confidence }}"
                        }
                    ]
                }
            },
            "name": "Add to Queue",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1750,
                300
            ],
            "id": "add-to-queue",
            "credentials": {
                "supabaseApi": {
                    "id": "supabase_api_creds",
                    "name": "Supabase API"
                }
            }
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Fetch Tagesschau",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Fetch Presseportal",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Tagesschau": {
            "main": [
                [
                    {
                        "node": "Parse Tagesschau",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Presseportal": {
            "main": [
                [
                    {
                        "node": "Parse Presseportal",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Tagesschau": {
            "main": [
                [
                    {
                        "node": "Merge Feeds",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Presseportal": {
            "main": [
                [
                    {
                        "node": "Merge Feeds",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Merge Feeds": {
            "main": [
                [
                    {
                        "node": "Limit Batch Size",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Limit Batch Size": {
            "main": [
                [
                    {
                        "node": "Analyze Relevance",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Analyze Relevance": {
            "main": [
                [
                    {
                        "node": "Filter High Quality",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter High Quality": {
            "main": [
                [
                    {
                        "node": "Check Duplicates",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Duplicates": {
            "main": [
                [
                    {
                        "node": "Is New?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is New?": {
            "main": [
                [
                    {
                        "node": "Add to Queue",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}