workflows/Taxfix_3_Publisher.json
{
    "name": "Taxfix_3_Publisher",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "minutes",
                            "triggerAtHour": 15
                        }
                    ]
                }
            },
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "id": "schedule-trigger"
        },
        {
            "parameters": {
                "operation": "getAll",
                "tableId": "content_queue",
                "limit": 5,
                "filters": {
                    "conditions": [
                        {
                            "key": "status",
                            "value": "APPROVED",
                            "operator": "eq"
                        }
                    ]
                }
            },
            "name": "Get Approved Jobs",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                450,
                300
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "supabase_api_creds",
                    "name": "Supabase API"
                }
            },
            "id": "get-approved"
        },
        {
            "parameters": {
                "jsCode": "// Mock Social Media Upload\n// Simulates uploading to TikTok/YouTube/IG\nconst platform = userSettings.platform || 'TikTok';\nconst id = Math.random().toString(36).substring(7);\n\nreturn {\n  ...$json,\n  published_url: `https://${platform.toLowerCase()}.com/taxfix_official/video/${id}`,\n  upload_success: true,\n  timestamp: new Date().toISOString()\n};"
            },
            "name": "Mock Upload API",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                650,
                300
            ],
            "id": "mock-upload"
        },
        {
            "parameters": {
                "operation": "update",
                "tableId": "content_queue",
                "rowId": "={{ $json.id }}",
                "columnsUi": {
                    "columnValues": [
                        {
                            "fieldId": "status",
                            "fieldValue": "PUBLISHED"
                        },
                        {
                            "fieldId": "published_url",
                            "fieldValue": "={{ $json.published_url }}"
                        },
                        {
                            "fieldId": "retry_count",
                            "fieldValue": 0
                        }
                    ]
                }
            },
            "name": "Mark Published",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                850,
                300
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "supabase_api_creds",
                    "name": "Supabase API"
                }
            },
            "id": "mark-published"
        },
        {
            "parameters": {
                "content": "## Publisher (Phase 3)\n\nHandles the final mile:\n\n1. **Get Approved**: Polles DB (Supabase API) for `APPROVED` items.\n2. **Mock Upload**: Simulates API upload (returns fake URL).\n3. **Mark Published**: Updates DB with `status=PUBLISHED` and URL.",
                "height": 300,
                "width": 500
            },
            "name": "Documentation",
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                300,
                100
            ],
            "id": "doc-note"
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Get Approved Jobs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Approved Jobs": {
            "main": [
                [
                    {
                        "node": "Mock Upload API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Mock Upload API": {
            "main": [
                [
                    {
                        "node": "Mark Published",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}