workflows/Taxfix_2_Production_Factory.json
{
    "name": "Taxfix_2_Production_Factory",
    "nodes": [
        {
            "parameters": {},
            "name": "Manual Trigger",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "id": "manual-trigger"
        },
        {
            "parameters": {
                "operation": "getAll",
                "tableId": "content_queue",
                "limit": 1,
                "filters": {
                    "conditions": [
                        {
                            "key": "status",
                            "value": "PENDING_GENERATION",
                            "operator": "eq"
                        }
                    ]
                }
            },
            "name": "Get Pending Job",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                450,
                300
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "supabase_api_creds",
                    "name": "Supabase API"
                }
            },
            "id": "get-job"
        },
        {
            "parameters": {
                "resource": "chat",
                "model": "gpt-4o",
                "jsonOutput": true,
                "messages": {
                    "values": [
                        {
                            "content": "You are a tax expert for Taxfix. Generate a TikTok video script for the topic: \"{{ $json.topic }}\".\n\nReturn strict JSON with these keys:\n- script_structure: { \"hook\": \"...\", \"body\": \"...\", \"cta\": \"...\" }\n- social_metrics: { \"caption\": \"...\", \"hashtags\": [\"...\"] }"
                        }
                    ]
                }
            },
            "name": "Generate Script",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1,
            "position": [
                650,
                300
            ],
            "id": "generate-script",
            "credentials": {
                "openAiApi": {
                    "id": "openai_account",
                    "name": "OpenAI account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Parse OpenAI JSON and merge with original ID\nconst aiContent = $json.message.content;\nlet parsed = {};\ntry {\n  parsed = JSON.parse(aiContent);\n} catch(e) {\n  parsed = { error: \"Failed to parse AI JSON\", raw: aiContent };\n}\n\n// Pass through original ID and other keys from the *previous* node (Get Pending Job)\n// We need to access the parent data. Since n8n logic can be tricky, we'll explicitly pass ID from input if preserved, or we rely on the flow.\n// Wait, OpenAI node might replace top-level JSON. \n// To be safe, we will rely on the fact that we can access the 'Get Pending Job' node data directly in the Update node, OR we re-map it here.\n\nreturn {\n  ...parsed,\n  id: $('Get Pending Job').item.json.id, // Explicitly grab ID from the trigger source to be safe\n  topic: $('Get Pending Job').item.json.topic,\n  source_url: $('Get Pending Job').item.json.source_url\n};"
            },
            "name": "Parse AI Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                750,
                300
            ],
            "id": "parse-ai-response"
        },
        {
            "parameters": {
                "jsCode": "// Mock RAG Compliance Check\n// Pass through previous data\nconst input = $json;\n\nreturn {\n  ...input,\n  status: \"PENDING_REVIEW\", // Set new status for Auto-Map\n  compliance_score: 0.92,\n  validations: {\n    checks: [\n      \"Verified against EStG \u00A7 4 Abs. 5 Nr. 6b\",\n      \"No financial advice detected\",\n      \"Tone is professional\"\n    ],\n    rag_notes: \"Citation found in BMF letter dated 2023-12-15 regarding Home Office Pauschale increase.\"\n  }\n};"
            },
            "name": "Mock RAG",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                850,
                300
            ],
            "id": "mock-rag"
        },
        {
            "parameters": {
                "operation": "update",
                "tableId": "content_queue",
                "options": {
                    "ignoreExtraFields": true
                },
                "autoMapInputData": true,
                "inputsToIgnore": "id,created_at,updated_at",
                "filters": {
                    "conditions": [
                        {
                            "key": "id",
                            "value": "={{ $json.id }}",
                            "operator": "eq"
                        }
                    ]
                }
            },
            "name": "Update DB",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1050,
                300
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "supabase_api_creds",
                    "name": "Supabase API"
                }
            },
            "id": "update-db"
        },
        {
            "parameters": {
                "content": "## Mock Factory (Phase 2)\n\nThis workflow simulates the full pipeline:\n\n1. **Get Job**: Fetches pending job (Supabase API).\n2. **Mock GenAI**: Returns static script/json.\n3. **Mock RAG**: Returns 0.92 score + validations.\n4. **Update DB**: Saves to content_queue (Supabase API).\n\n**Run this to populate Dashboard Tabs 2 & 3!**",
                "height": 300,
                "width": 600
            },
            "name": "Phase 2 Info",
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                400,
                100
            ],
            "id": "info-note"
        }
    ],
    "connections": {
        "Manual Trigger": {
            "main": [
                [
                    {
                        "node": "Get Pending Job",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Pending Job": {
            "main": [
                [
                    {
                        "node": "Generate Script",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Script": {
            "main": [
                [
                    {
                        "node": "Parse AI Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse AI Response": {
            "main": [
                [
                    {
                        "node": "Mock RAG",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Mock RAG": {
            "main": [
                [
                    {
                        "node": "Update DB",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}