workflows/Taxfix_1_Ingestion_Monitor.json
{
    "name": "Taxfix_1_Ingestion_Monitor",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours"
                        }
                    ]
                }
            },
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "id": "schedule-trigger"
        },
        {
            "parameters": {
                "url": "https://www.tagesschau.de/wirtschaft/index~rss2.xml",
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "text"
                        }
                    }
                },
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "User-Agent",
                            "value": "Mozilla/5.0 (compatible; TaxfixBot/1.0;)"
                        }
                    ]
                }
            },
            "name": "Fetch Tagesschau",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                450,
                200
            ],
            "id": "fetch-tagesschau"
        },
        {
            "parameters": {
                "url": "https://www.presseportal.de/rss/finanzen.rss2",
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "text"
                        }
                    }
                }
            },
            "name": "Fetch Presseportal",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                450,
                400
            ],
            "id": "fetch-presseportal"
        },
        {
            "parameters": {
                "jsCode": "// Robust RSS Parser (Regex)\nconst xml = $json.data || '';\nconst items = [];\n// Extract items\nconst itemRegex = /<item>([\\s\\S]*?)<\\/item>/g;\nlet match;\nwhile ((match = itemRegex.exec(xml)) !== null) {\n  const content = match[1];\n  const title = (content.match(/<title>([\\s\\S]*?)<\\/title>/) || [])[1] || '';\n  const link = (content.match(/<link>([\\s\\S]*?)<\\/link>/) || [])[1] || '';\n  // Handle CDATA or plain text\n  const cleanTitle = title.replace('<![CDATA[', '').replace(']]>', '').trim();\n  const cleanLink = link.replace('<![CDATA[', '').replace(']]>', '').trim();\n  \n  if (cleanTitle && cleanLink) {\n    items.push({\n      json: {\n        title: cleanTitle,\n        link: cleanLink,\n        source: 'Tagesschau'\n      }\n    });\n  }\n}\nreturn items;"
            },
            "name": "Parse Tagesschau",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                600,
                200
            ],
            "id": "parse-tagesschau"
        },
        {
            "parameters": {
                "jsCode": "// Robust RSS Parser (Regex)\nconst xml = $json.data || '';\nconst items = [];\nconst itemRegex = /<item>([\\s\\S]*?)<\\/item>/g;\nlet match;\nwhile ((match = itemRegex.exec(xml)) !== null) {\n  const content = match[1];\n  const title = (content.match(/<title>([\\s\\S]*?)<\\/title>/) || [])[1] || '';\n  const link = (content.match(/<link>([\\s\\S]*?)<\\/link>/) || [])[1] || '';\n  \n  const cleanTitle = title.replace('<![CDATA[', '').replace(']]>', '').trim();\n  const cleanLink = link.replace('<![CDATA[', '').replace(']]>', '').trim();\n\n  if (cleanTitle && cleanLink) {\n    items.push({\n      json: {\n        title: cleanTitle,\n        link: cleanLink,\n        source: 'Presseportal'\n      }\n    });\n  }\n}\nreturn items;"
            },
            "name": "Parse Presseportal",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                600,
                400
            ],
            "id": "parse-presseportal"
        },
        {
            "parameters": {
                "mode": "append"
            },
            "name": "Merge Feeds",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 1,
            "position": [
                750,
                300
            ],
            "id": "merge-feeds"
        },
        {
            "parameters": {
                "jsCode": "// Limit to top 15 items to prevent Timeout\nreturn $input.all().slice(0, 15);"
            },
            "name": "Limit Batch Size",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                950,
                300
            ],
            "id": "limit-batch"
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.title }}",
                            "operation": "isNotEmpty"
                        }
                    ]
                }
            },
            "name": "Filter Empty Titles",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                850,
                300
            ],
            "id": "filter-empty"
        },
        {
            "parameters": {
                "resource": "chat",
                "model": "gpt-4o-mini",
                "jsonOutput": true,
                "options": {
                    "responseFormat": {
                        "type": "json_object"
                    }
                },
                "messages": {
                    "values": [
                        {
                            "role": "system",
                            "content": "You are a TAXFIX INTELLIGENCE AGENT. Your mission: Scan general financial news to identify high-impact, actionable updates for YOUNG GERMAN TAXPAYERS (20-35).\n\n### ANALYSIS LOGIC\n1. **Direct Impact?** Does this change their Net Income (Kindergeld, Tax Brackets) or obligations (Deadlines)? -> `Relevant: true`\n2. **Actionable?** Can they *do* something about it (file a form, claim a deduction)? -> `Relevant: true`\n3. **Noise?** Is it about DAX, Inflation Stats, or Corporate Law? -> `Relevant: false`\n\n### PLATFORM STRATEGY\n- **TikTok**: Hacks, fast money tips, deadline alarms. (Use for simple, viral topics)\n- **LinkedIn**: Career tax implications, home office laws, salary optimization. (Use for professional topics)\n- **Instagram**: Visual explainers of complex changes. (Use for charts/stats)\n\n### OUTPUT SCHEMA\nReturn a single JSON object (No markdown):\n{\n  \"relevant\": boolean,\n  \"topic\": \"Engaging, Urgency-Driven German Title (max 8 words)\",\n  \"confidence\": 0.0 to 1.0 (Exact float),\n  \"platform\": \"TikTok\" | \"LinkedIn\" | \"Instagram\",\n  \"reasoning\": \"Strategic reason for selection (e.g. 'Affects 80% of student users')\"\n}"
                        },
                        {
                            "role": "user",
                            "content": "Analyze the following SINGLE news item.\n\nSOURCE METADATA:\nTitle: {{ $json.title }}\nLink: {{ $json.link }}\nSource: {{ $json.source }}\n\nTASK:\nPerform the analysis logic. If irrelevant, set confidence < 0.2."
                        }
                    ]
                }
            },
            "name": "Analyze Relevance",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1,
            "position": [
                1050,
                300
            ],
            "id": "analyze-relevance",
            "credentials": {
                "openAiApi": {
                    "id": "openai_account",
                    "name": "OpenAI account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Parse OpenAI Response & Flatten (Handle Array)\n// Use $items('Limit Batch Size') to fetch original RSS data to prevent context loss\nconst originalItems = $items('Limit Batch Size');\nconst aiItems = $input.all();\n\nreturn aiItems.map((item, index) => {\n  const content = item.json.message.content;\n  let parsed = {};\n  try {\n    parsed = JSON.parse(content);\n  } catch(e) {\n    parsed = { relevant: false, reason: \"JSON Parse Fail\" };\n  }\n  \n  // Match with original item by index order (preserved by n8n)\n  const original = originalItems[index] ? originalItems[index].json : {};\n\n  return {\n    json: {\n      ...original, // source, title, link\n      ...parsed    // relevant, topic, confidence, platform\n    }\n  };\n});"
            },
            "name": "Parse AI Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                1150,
                300
            ],
            "id": "parse-ai-response"
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.relevant }}",
                            "value2": true
                        }
                    ],
                    "number": [
                        {
                            "value1": "={{ $json.confidence }}",
                            "operation": "larger",
                            "value2": 0.7
                        }
                    ]
                }
            },
            "name": "Filter High Quality",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1250,
                300
            ],
            "id": "filter-quality"
        },
        {
            "parameters": {
                "resource": "chat",
                "model": "gpt-4o",
                "jsonOutput": true,
                "messages": {
                    "values": [
                        {
                            "role": "system",
                            "content": "You are the **Lead Content Strategist** for Taxfix Germany. You have discovered a high-impact topic. Your task is to produce production-ready content drafts for two distinct channels.\n\n### 1. VIRAL VIDEO SCRIPT (TikTok/Reels)\n- **Style**: Fast-paced, 'You need to know this', Edutainment.\n- **Tone**: Friendly expert, slightly urgent.\n- **Structure**:\n  - **Hook**: The first 3 seconds MUST stop the scroll. Use 'Did you know?' or 'Stop doing this'.\n  - **Body**: Simplify the complex tax law into 2-3 understandable sentences.\n  - **CTA**: Clear instruction (e.g., 'Check the link', 'Save this video').\n\n### 2. PROFESSIONAL BLOG POST (LinkedIn/Website)\n- **Style**: Authoritative, trust-building, detailed.\n- **Tone**: Professional, advisory (but NOT legal advice).\n- **Structure**:\n  - **Title**: SEO-optimized, clickable but serious.\n  - **Body**: Uses Markdown. Include bullet points for clarity. Explain the 'Why' and 'How'.\n  - **Tags**: 3-5 relevant high-traffic hashtags.\n\n### COMPLIANCE & SAFETY\n- **NO Financial Advice**: Never say 'You will get X amount'. Say 'You *could* claim...'.\n- **Fact-Check**: Ensure the topic matches the reasoning provided.\n\n### OUTPUT SCHEMA (JSON)\n{\n  \"video_script\": {\n    \"hook\": \"String\",\n    \"body\": \"String\",\n    \"cta\": \"String\"\n  },\n  \"blog_post\": {\n    \"title\": \"String\",\n    \"body\": \"Markdown String\",\n    \"tags\": [\"String\"]\n  }\n}"
                        },
                        {
                            "role": "user",
                            "content": "CONTENT REQUEST:\n\nTopic: {{ $json.topic }}\nPlatform Focus: {{ $json.platform }}\nReasoning: {{ $json.reasoning }}\nOriginal Source Title: {{ $json.title }}\n\nGenerate the two drafts now."
                        }
                    ]
                }
            },
            "name": "Generate Content",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1,
            "position": [
                1450,
                300
            ],
            "id": "generate-content",
            "credentials": {
                "openAiApi": {
                    "id": "openai_account",
                    "name": "OpenAI account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Parse Content Generation & Preserve Key Fields\nconst originalItems = $items('Filter High Quality');\nconst aiItems = $input.all();\n\nreturn aiItems.map((item, index) => {\n  const content = JSON.parse(item.json.message.content);\n  const original = originalItems[index] ? originalItems[index].json : {};\n  \n  return {\n    json: {\n      ...original, // Preserves: source, topic, link, platform, confidence\n      script_structure: content.video_script,\n      blog_content: content.blog_post,\n      generated_types: ['video', 'blog']\n    }\n  };\n});"
            },
            "name": "Parse Generation",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                1650,
                300
            ],
            "id": "parse-generation"
        },
        {
            "parameters": {
                "operation": "create",
                "tableId": "content_queue",
                "columnsUi": {
                    "columnValues": [
                        {
                            "fieldId": "topic",
                            "fieldValue": "={{ $json.topic }}"
                        },
                        {
                            "fieldId": "source_url",
                            "fieldValue": "={{ $json.link }}"
                        },
                        {
                            "fieldId": "status",
                            "fieldValue": "PENDING_REVIEW"
                        },
                        {
                            "fieldId": "platform",
                            "fieldValue": "={{ $json.platform }}"
                        },
                        {
                            "fieldId": "compliance_score",
                            "fieldValue": "={{ $json.confidence }}"
                        },
                        {
                            "fieldId": "script_structure",
                            "fieldValue": "={{ $json.script_structure }}"
                        },
                        {
                            "fieldId": "blog_content",
                            "fieldValue": "={{ $json.blog_content }}"
                        },
                        {
                            "fieldId": "generated_content_types",
                            "fieldValue": "={{ $json.generated_types }}"
                        }
                    ]
                }
            },
            "name": "Add to Queue",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1850,
                300
            ],
            "id": "add-to-queue",
            "credentials": {
                "supabaseApi": {
                    "id": "supabase_api_creds",
                    "name": "Supabase API"
                }
            }
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "trigger",
                "options": {}
            },
            "name": "Webhook Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                500
            ],
            "webhookId": "b1823485-8023-4556-9023-9081230981",
            "id": "webhook-trigger"
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Fetch Tagesschau",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Fetch Presseportal",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook Trigger": {
            "main": [
                [
                    {
                        "node": "Fetch Tagesschau",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Fetch Presseportal",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Tagesschau": {
            "main": [
                [
                    {
                        "node": "Parse Tagesschau",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Presseportal": {
            "main": [
                [
                    {
                        "node": "Parse Presseportal",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Tagesschau": {
            "main": [
                [
                    {
                        "node": "Merge Feeds",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Presseportal": {
            "main": [
                [
                    {
                        "node": "Merge Feeds",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Merge Feeds": {
            "main": [
                [
                    {
                        "node": "Filter Empty Titles",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter Empty Titles": {
            "main": [
                [
                    {
                        "node": "Limit Batch Size",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Limit Batch Size": {
            "main": [
                [
                    {
                        "node": "Analyze Relevance",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Analyze Relevance": {
            "main": [
                [
                    {
                        "node": "Parse AI Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse AI Response": {
            "main": [
                [
                    {
                        "node": "Filter High Quality",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter High Quality": {
            "main": [
                [
                    {
                        "node": "Generate Content",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Content": {
            "main": [
                [
                    {
                        "node": "Parse Generation",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Generation": {
            "main": [
                [
                    {
                        "node": "Add to Queue",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}