workflows/Taxfix_2_Production_Factory.json
{
    "name": "Taxfix_2_Production_Factory",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "generate-script",
                "options": {}
            },
            "name": "Webhook: Generate",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                100,
                300
            ],
            "id": "webhook-generate"
        },
        {
            "parameters": {
                "resource": "chat",
                "model": "gpt-4o",
                "jsonOutput": true,
                "messages": {
                    "values": [
                        {
                            "content": "You are a viral TikTok tax educator for Taxfix. Generate a script for the topic: \"{{ $json.body.topic }}\". Language: {{ $json.body.language || 'de' }}.\n\nReturn strict JSON:\n{\n  \"hook\": \"Attention grabber (0-5s)\",\n  \"body\": \"Main educational value (20s)\",\n  \"cta\": \"Call to Action\"\n}"
                        }
                    ]
                }
            },
            "name": "AI: Generate Draft",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1,
            "position": [
                300,
                300
            ],
            "id": "ai-generate",
            "credentials": {
                "openAiApi": {
                    "id": "openai_account",
                    "name": "OpenAI account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const script = JSON.parse($json.message.content);\nreturn {\n  id: $('Webhook: Generate').item.json.body.id,\n  script_content: script,\n  status: 'PENDING_REVIEW'\n};"
            },
            "name": "Format Draft",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                500,
                300
            ],
            "id": "format-draft"
        },
        {
            "parameters": {
                "operation": "update",
                "tableId": "content_queue",
                "updateKey": "id",
                "columns": "script_content, status",
                "options": {}
            },
            "name": "DB: Save Draft",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                700,
                300
            ],
            "id": "db-save-draft",
            "credentials": {
                "supabaseApi": {
                    "id": "supabase_api_creds",
                    "name": "Supabase API"
                }
            }
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "render-video",
                "options": {}
            },
            "name": "Webhook: Render",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                100,
                600
            ],
            "id": "webhook-render"
        },
        {
            "parameters": {
                "operation": "getAll",
                "tableId": "content_queue",
                "limit": 1,
                "filters": {
                    "conditions": [
                        {
                            "key": "id",
                            "value": "={{ $json.body.id }}",
                            "operator": "eq"
                        }
                    ]
                }
            },
            "name": "DB: Get Job",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                300,
                600
            ],
            "id": "db-get-job",
            "credentials": {
                "supabaseApi": {
                    "id": "supabase_api_creds",
                    "name": "Supabase API"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const script = $json.script_content;\nconst id = $json.id;\n\n// Editly Configuration\nconst config = {\n  width: 720,\n  height: 1280,\n  fps: 30,\n  outPath: `/data/files/video_${id}.mp4`,\n  clips: [\n    { duration: 3, layers: [{ type: 'title', text: script.hook, background: '#16a34a' }] },\n    { duration: 6, layers: [{ type: 'title', text: script.body.substring(0, 100), background: '#000000' }] },\n    { duration: 3, layers: [{ type: 'title', text: script.cta, background: '#3b82f6' }] }\n  ]\n};\n\nreturn {\n  config_json: JSON.stringify(config),\n  output_file: `video_${id}.mp4`,\n  id: id\n};"
            },
            "name": "Config: Editly",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                500,
                600
            ],
            "id": "config-editly"
        },
        {
            "parameters": {
                "command": "editly --json '{{ $json.config_json }}'"
            },
            "name": "CMD: Render",
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                700,
                600
            ],
            "id": "cmd-render"
        },
        {
            "parameters": {
                "jsCode": "return {\n  id: $node['Config: Editly'].json.id,\n  video_url: `http://13.200.99.186:8020/files/${$node['Config: Editly'].json.output_file}`,\n  status: 'READY_TO_PUBLISH'\n};"
            },
            "name": "Format Video Update",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                900,
                600
            ],
            "id": "format-video-update"
        },
        {
            "parameters": {
                "operation": "update",
                "tableId": "content_queue",
                "updateKey": "id",
                "columns": "video_url, status",
                "options": {}
            },
            "name": "DB: Video Ready",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1100,
                600
            ],
            "id": "db-video-ready",
            "credentials": {
                "supabaseApi": {
                    "id": "supabase_api_creds",
                    "name": "Supabase API"
                }
            }
        }
    ],
    "connections": {
        "Webhook: Generate": {
            "main": [
                [
                    {
                        "node": "AI: Generate Draft",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI: Generate Draft": {
            "main": [
                [
                    {
                        "node": "Format Draft",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Draft": {
            "main": [
                [
                    {
                        "node": "DB: Save Draft",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook: Render": {
            "main": [
                [
                    {
                        "node": "DB: Get Job",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "DB: Get Job": {
            "main": [
                [
                    {
                        "node": "Config: Editly",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Config: Editly": {
            "main": [
                [
                    {
                        "node": "CMD: Render",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "CMD: Render": {
            "main": [
                [
                    {
                        "node": "Format Video Update",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Video Update": {
            "main": [
                [
                    {
                        "node": "DB: Video Ready",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}